[Unit]
Description=My NPM Service
After=network.target

[Service]
WorkingDirectory=/opt/webapp/
ExecStart=/usr/bin/node /opt/webapp/app.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kas
User=csye6225
Group=csye6225
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target